[submodule "qtcarto"]
	path = qtcarto
	url = git@github.com:FabriceSalvaire/qtcarto.git
[submodule "cmark"]
	path = third-parties/cmark/cmark.git
	url = https://github.com/github/cmark
[submodule "snowball"]
	path = third-parties/snowball/snowball.git
	url = https://github.com/snowballstem/snowball
