*.moc
*.o
*~
moc_*.cpp
#
du.log
.directory
#
####################################################################################################
#
translations/alpine-toolkit.fr_FR.qm
#
####################################################################################################
#
Makefile
alpine-toolkit.pro.user
android-cmake-build/
build
build-*/
cmake-build
compile_commands.json
qmake-build
third-parties/cmark/cmark.git/
#
####################################################################################################
#
test/camptocamp/login.h
#
####################################################################################################
#
third-parties/archives/
third-parties/geos/Android.mk
third-parties/geos/geos-3.6.1/
third-parties/geos/geos-sources
# third-parties/include/
third-parties/libiconv/Android.mk
third-parties/libiconv/dist.cmake
third-parties/libiconv/libiconv-1.13.1/
third-parties/libiconv/libiconv-sources
# third-parties/proj4
third-parties/spatialite/libspatialite-4.4.0-RC1/
third-parties/spatialite/spatialite-sources
third-parties/sqlite/Android.mk
third-parties/sqlite/sqlite-amalgamation
third-parties/sqlite/sqlite-amalgamation-3180000/
#
####################################################################################################
#
#android/assets/data/
#doc/
#fonts/Roboto-Medium.ttf
#fonts/Roboto-Regular.ttf
#icons/camptocamp/c2c-activities.zip
#icons/camptocamp/c2c-activities/
#icons/camptocamp/fonts-from-c2c/
#icons/copy-all-idea.sh
#icons/material-design-icons
#js/attributes.py
#js/filter.txt
#js/filters.html
#notes/
#pages/Checklist-dev.qml
#pages/Components/Widgets/
#pages/notes.txt
#qml-test/
#read-rrd.py
#script/
android/src/org/alpine_toolkit/AlpineToolkitActivity.java-basic
class-def.txt
cmake/modules/
js/trash/
sonia.json
spec-c2c.txt
src/bleaudb/tmp/
src/camptocamp/foo
src/camptocamp/tmp.cpp
src/camptocamp/trash/
v6-screenshots/
