{#  ################################################################################################
 #
 # $ALPINE_TOOLKIT_BEGIN_LICENSE:GPL3$
 #
 # Copyright (C) 2017 Fabrice Salvaire
 # Contact: http://www.fabrice-salvaire.fr
 #
 # This file is part of the QtCarto library.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #
 # $ALPINE_TOOLKIT_END_LICENSE$
 #
 ###############################################################################################  -#}

{% extends "includes/source-template.jinja" %}

{% from "includes/accessor.jinja" import getter_impl, setter_impl %}
{% from "includes/cdtor.jinja" import ctor_impl, ctor_impl_with_args, copy_ctor_impl, copy_operator_impl, dtor_impl %}
{% from "includes/debug.jinja" import debug_streamer_impl %}
{% from "includes/operator.jinja" import equal_operator_impl %}

{% block include %}
#include <QtDebug>
{% endblock %}

{% block content %}
{{ ctor_impl(class_name, members) }}
{{ ctor_impl_with_args(class_name, ctor_members) }}

{{ copy_ctor_impl(class_name, members) }}

{{ dtor_impl(class_name) }}

{{ copy_operator_impl(class_name, members) }}

{{ equal_operator_impl(class_name, members) }}

{% for member in members %}
{% if not has_inline_getter %}{{ getter_impl(class_name, member) }}{% endif %}

{% if not has_inline_setter %}{{ setter_impl(class_name, member) }}{% endif %}
{% endfor %}

{{ debug_streamer_impl(class_name, members) }}
{% endblock %}
