{% extends "includes/source-template.jinja" %}

{%- from "includes/accessor.jinja" import getter_impl, setter_impl -%}
{%- from "includes/cdtor.jinja" import ctor_impl, copy_ctor_impl, copy_operator_impl, dtor_impl -%}
{%- from "includes/debug.jinja" import debug_streamer_impl -%}
{%- from "includes/operator.jinja" import equal_operator_impl -%}

{% block include %}
#include <QtDebug>
{% endblock %}

{% block content %}
{{ ctor_impl(class_name, all_members) }}

{{ copy_ctor_impl(class_name, all_members) }}

{{ dtor_impl(class_name) }}

{{ copy_operator_impl(class_name, all_members) }}

{{ equal_operator_impl(class_name, members) }}

{% for member in members %}
{%- if not has_inline_getter %}{{ getter_impl(member) }}{% endif %}

{% if not has_inline_setter %}{{ setter_impl(member) }}{% endif %}
{% endfor -%}
{# #}
{{ debug_streamer_impl(class_name) }}
{% endblock %}
