{% macro setter_impl(class_name, member) %}
void
{{class_name}}::set_{{member.name}}({{member.setter_type}} value)
{
  if (m_{{member.name}} != value) {
    m_{{member.name}} = value;

    bool is_changed = is_modified();
    set_bit(Schema::Fields::{{member.name|upper}});

    emit {{member.name}}Changed();
    if (not is_changed)
      emit changed();
  }
}
{% endmacro %}
