{# -*- mode: fundamental -*- #}

{% macro getter_decl(member) %}
{{member.getter_type}} {{member.name}}() const;
{% endmacro %}

{% macro inline_getter(member) %}
{{member.getter_type}} {{member.name}}() const { return m_{{member.name}}; }
{% endmacro %}

{% macro setter_decl(member) %}
void set_{{member.name}}({{member.setter_type}} value);
{% endmacro %}

{% macro inline_setter(member) %}
void set_{{member.name}}({{member.setter_type}} value) { m_{{member.name}} = value; }
{% endmacro %}

{% macro setter_impl(class_name, member) %}
void
{{class_name}}::set_{{member.name}}({{member.setter_type}} value)
{
  if (m_{{member.name}} != value) {
    m_{{member.name}} = value;
    emit {{member.name}}Changed();
  }
}
{% endmacro %}

{% macro getter_impl(class_name, member) %}
{{member.getter_type}}
{{class_name}}::{{member.name}}() const
{
  return m_{{member.name}};
}
{% endmacro %}
