{# -*- mode: fundamental -*- #}

{#  ################################################################################################
 #
 # This file is part of the Alpine Toolkit software.
 # Copyright (C) 2017 Fabrice Salvaire
 # Contact: http://www.fabrice-salvaire.fr
 # SPDX-License-Identifier: GPL-3.0-only
 #
 ###############################################################################################  #}

{% macro debug_streamer_decl(class_name) %}
#ifndef QT_NO_DEBUG_STREAM
QDebug operator<<(QDebug debug, const {{class_name}} & obj);
#endif
{%- endmacro %}

{% macro debug_streamer_impl(class_name, members) %}
#ifndef QT_NO_DEBUG_STREAM
QDebug
operator<<(QDebug debug, const {{class_name}} & obj)
{
  QDebugStateSaver saver(debug); // Fixme: ???

  // Fixme: quote string !
  debug.nospace() << QStringLiteral("{{class_name}}(");
{% for member in members %}
  debug << obj.{{member.name}}();
{% if not loop.last %}
  debug << QStringLiteral(", ");
{% endif %}
{% endfor %}
  debug << ')';

  return debug;
}
#endif
{%- endmacro %}
