{# -*- mode: fundamental -*- #}

{% macro debug_streamer_decl(class_name) %}
#ifndef QT_NO_DEBUG_STREAM
QDebug operator<<(QDebug debug, const {{class_name}} & obj);
#endif
{%- endmacro %}

{% macro debug_streamer_impl(class_name, members) %}
#ifndef QT_NO_DEBUG_STREAM
QDebug
operator<<(QDebug debug, const {{class_name}} & obj)
{
  QDebugStateSaver saver(debug); // Fixme: ???

  // Fixme: quote string !
  debug.nospace() << QLatin1Literal("{{class_name}}(");
{% for member in members %}
  debug << obj.{{member.name}}();
{% if not loop.last %}
  debug << QLatin1Literal(", ");
{% endif %}
{% endfor %}
  debug << ')';

  return debug;
}
#endif
{%- endmacro %}
