{% from 'includes/settings.jinja' import copyright, generator_comment %}
{# {% block generator_comment %}{{ generator_comment(date) }}{% endblock %} #}
// -*- mode: c++ -*-

{% block copyright %}{{ copyright() }}{% endblock %}

/**************************************************************************************************/

{% set HEADER_NAME = filename|replace('.h', '')|upper  %}
#ifndef __{{ HEADER_NAME }}_H__
#define __{{ HEADER_NAME }}_H__

/**************************************************************************************************/

{% block include %}{% endblock %}

/**************************************************************************************************/

// QC_BEGIN_NAMESPACE

{% block content %}{% endblock %}

// QC_END_NAMESPACE

#endif /* __{{ HEADER_NAME }}_H__ */

/***************************************************************************************************
 *
 * End
 *
 **************************************************************************************************/
