{# -*- mode: fundamental -*- #}

{#  ################################################################################################
 #
 # $ALPINE_TOOLKIT_BEGIN_LICENSE:GPL3$
 #
 # Copyright (C) 2017 Fabrice Salvaire
 # Contact: http://www.fabrice-salvaire.fr
 #
 # This file is part of the QtCarto library.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <http://www.gnu.org/licenses/>.
 #
 # $ALPINE_TOOLKIT_END_LICENSE$
 #
 ###############################################################################################  #}

{% macro equal_operator_decl(class_name) %}
bool operator==(const {{class_name}} & other);
{% endmacro %}

{% macro equal_operator_impl(class_name, members, base_classes) %}
bool
{{class_name}}::operator==(const {{class_name}} & other)
{
{% for base_class in base_classes %}
  if (not {{base_class}}::operator==(other))
    return false;
{% endfor %}
{% for member in members %}
  if (m_{{member.name}} != other.m_{{member.name}})
    return false;
{% endfor %}

  return true;
}
{% endmacro %}
