{#  ################################################################################################
 #
 # This file is part of the Alpine Toolkit software.
 # Copyright (C) 2017 Fabrice Salvaire
 # Contact: http://www.fabrice-salvaire.fr
 # SPDX-License-Identifier: GPL-3.0-only
 #
 ###############################################################################################  -#}

{% from 'includes/settings.jinja' import copyright %}
{# {% block generator_comment %}{% endblock %} #}
{% block copyright %}{{ copyright() }}{% endblock %}

/**************************************************************************************************/

#include "{{ filename|replace('.h', '')|replace('.cpp', '') }}.h"

{% block include %}{% endblock %}

/**************************************************************************************************/

// QC_BEGIN_NAMESPACE

{% block content %}{% endblock %}

// QC_END_NAMESPACE
