{% from 'settings.jinja' import copyright -%}
{% block generator_comment %}{% endblock %}
{% block copyright %}{{ copyright() }}{% endblock %}

/**************************************************************************************************/

#include "{{ filename|replace('.h', '')|replace('.cpp', '') }}.h"

{% block include %}{% endblock -%}

/**************************************************************************************************/

// QC_BEGIN_NAMESPACE

{% block content %}{% endblock %}

// QC_END_NAMESPACE

/***************************************************************************************************
 *
 * End
 *
 **************************************************************************************************/
